@import url('reset.css');

@font-face {
    font-family: Segoepr;
    src: url("../font/SEGOEPR.TTF");
}

body.main {
    min-width: 1000px;
    min-height: 600px;
    background: url(../img/background.gif) repeat-x 0px 200px fixed, url(../img/pattern-grey.png) repeat-x 0px 180px fixed ;
    color: #fff;
    font-family: Segoepr, 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
}

body.gallery{
    min-width: 900px;
    min-height: 600px;
    background: url(../img/pattern.png) repeat top left fixed;
    color: #fff;
    font-family: Segoepr, 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
}

a {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: #00c6e3;
}

p.sub {
    padding: 25px 10px 10px 10px;
    text-align: left;
    color: #aaa;
}

.clr {
    clear: both;
}

h1 {
    margin: 5px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 24px;
    text-align: center;
    color: #777777;
    font-family: Segoepr, "Pacifico", Georgia, "Times New Roman", serif;
    text-shadow: 0.1em 0.1em 0.4em #727272;
    padding-bottom: 10px;
    line-height: 40px;
}

h1 span {
    font-size: 10px;
    display: block;
    letter-spacing: 2px;
    font-family: Segoepr, 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
    color: #00c6e3;
    line-height: 14px;
    padding-top: 10px;
    text-shadow: none;
    text-transform: uppercase;
}

h2 {
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    text-align: center;
    color: #777777;
    font-family: Segoepr, "Pacifico", Georgia, "Times New Roman", serif;
    text-shadow: 0.1em 0.1em 0.4em black;
    padding-bottom: 10px;
    line-height: 40px;
}

/* Заголовок */
.header {
    font-size: 13px;
    background: #000;
    opacity: 0.9;
    text-transform: uppercase;
    -moz-box-shadow: 1px 0px 2px #000;
    -webkit-box-shadow: 1px 0px 2px #000;
    box-shadow: 1px 0px 2px #000;
}

.header a {
    line-height: 18px;
    padding: 0 4px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000;
    color: #ddd;
}

.header a:hover {
    color: #fff;
}

.header a span {
    font-weight: bold;
}

.header span.right_ab {
    float: right;
}

.content {
    max-width: 800px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

hr {
    height: 5px;
    opacity: 0.33;
    background-color: #464646;
    border: #464646;
}

.footer {
    max-width: 800px;
    margin: auto;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color:
}

.footer a {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    border: 3px solid #464646;
    opacity: 0.8;
    cursor: pointer;
}

.footer a:hover{
    opacity: 1.0;
}

.footer a.login-control {
    background: #464646 url(../img/login-logout.png) repeat top left;
    background-position: 0px 0px;
}

.footer a.logout-control {
    background: #464646 url(../img/login-logout.png) no-repeat top left;
    background-position: 0px -16px;
}

.footer a.collection-add {
    background: #464646 url(../img/collection-controls.png) no-repeat top left;
    background-position: 0px 0px;
}


@media screen and (max-width: 640px) {
    .header a {
        display: block;
        text-align: center;
        font-size: 10px;
        text-shadow: none;
    }

    .header span.right_ab {
        float: none;
    }
}

.loginForm {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.input-label {
    width: 100%;
    position: relative;
    margin-top: 3px;
}

.input-label > label{
    position: absolute;
    top: 3px;
    left: 3px;
    color: #d3d3d3;
}

.input-label > input {
    width: 100%;
}

.admin-control {
    display: none;
    visibility: collapse;
}

.contacts {
    display: none;
    width: 180px;
    margin: 0 auto;
    color: #777777;
    text-align: left
}

.menu-header {
    margin-top: 75px;
}

.collection-type {
    float:left;
    width: 33%;
}


